<h1>NorthEastern Restaurants</h1>

<h4><%= link_to 'Create New Restaurant', new_restaurant_path %></h4>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><i><%= link_to restaurant.name, restaurant_path(restaurant) %></i></td>
        <td><%= link_to 'edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'delete', restaurant_path(restaurant), method: :delete, data: {confirm: "Are you sure you want to delete this restaurant?"} %></td>
      </tr>
    <% end %>          
  </tbody>
</table>

